<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <h1 style="background-color: aquamarine;">Herencia de plantillas</h1>
  {% include "barra_superior/barra.html" %}
  <h3>Curso de programción Python con Django</h3>
  {% block content %}
  {% endblock %}
  <p style="background-color: aquamarine;">Cursos gratuitos</p>
</body>
</html>