<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>Hola alumnos estamos viendo primera plantilla</h2>

  {# No temas diseñador, ignora esta parte #}
  {% comment %}
    No temas diseñador,
    ignora esta parte
  {% endcomment %}

  {% if nombre_persona == 'Profesor Juan' %}
    <p>El curso lo imparte el profesor Juan</p>
    {% else %}
    <p>El curso lo imparte el profesor suplente</p>
  {% endif %}

  <p>El nombre del profesor es: {{nombre_persona|upper}} {{apellido_persona.lower}} </p>
  <p>Estamos el tema de las plantillas a día:
    {{momento_actual.day}} /
    {{momento_actual.month}} /
    {{momento_actual.year}}
  </p>
  <p>
    <strong>Temas del curso</strong>
  </p>
  <p>
    <ul>
      {% if temas %}
        {% for el_tema in temas %}
          <li>
            {{el_tema|first|lower}}
          </li>
        {% endfor %}
        {% else %}
          <p>No hay elementos que mostrar</p>
      {% endif %}
    </ul>
  </p>
</body>
</html>